node /^manager/ {
  class { 'khulnasoft::manager':}
}
node /^agent/ {
  class { 'khulnasoft::agent':
        khulnasoft_register_endpoint => 'manager_ip',
        khulnasoft_reporting_endpoint => 'manager_ip',
  }
}

node default {
  notify { 'This node did not match any of the listed definitions': }
}

